<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о лекарствах и аптеках</title>
</head>
<body style="margin: 20px; font-family: Arial, sans-serif;">

    <h1 style="text-align: center;">Информация о лекарствах и аптеках</h1>

    <div style="display: flex; justify-content: space-around;">
        <div style="text-align: center; margin: 10px;">
            <h2>Запасы лекарств</h2>
            <p>Список всех лекарств и информация о их наличии в аптеках</p>
            <a href="/stock" style="text-decoration: none; color: white; background-color: blue; padding: 10px 20px; border-radius: 5px;">Смотреть запасы</a>
        </div>

        <div style="text-align: center; margin: 10px;">
            <h2>Аптеки</h2>
            <p>Список всех аптек и доступные в них лекарства</p>
            <a href="/pharmacy" style="text-decoration: none; color: white; background-color: blue; padding: 10px 20px; border-radius: 5px;">Смотреть аптеки</a>
        </div>

        <div style="text-align: center; margin: 10px;">
            <h2>Лекарственные препараты</h2>
            <p>Список всей информации о доступных лекарствах</p>
            <a href="/medicine" style="text-decoration: none; color: white; background-color: blue; padding: 10px 20px; border-radius: 5px;">Смотреть лекарственные препараты</a>
        </div>
    </div>

</body>
</html>
