<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;}
    
    li {
        float: left;}
    
    li a {
        display: block;
        color: white;
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;}

</style>
</head>
<body>

<ul>
  <li><a href="">Лекарства в наличии</a></li>
  <li><a href="">Где доступно?</a></li>
</ul>
    </style>
    <title>Главная - Запасы лекарств в аптеках</title>
</head>
<body class = 'm-5'>
    <h1 align="'center">Информация о доступных лекарствах</h1>
    <table width="80%">
        <tr>
            <th align="center">Адрес аптеки</th>
            <th align="center">Номер аптеки</th>
            <th align="center">Ближайшее метро</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <th align="center">{{ stock.medicine }}</th>
            <th align="center">{{ stock.pharmacy }}</th>
            <th align="center">{{ stock.quantity }}</th>
            <th align="center">
                <ul>
                    {% for stock in pharmacy.stock_set.all %}
                    <li>{{medicine.name}} - {{medicine.price}}, рубл., {{medicine.quantity}} шт.</li>
                    {% endfor %}
                </ul>
            </th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>