<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Информация о лекарственных препаратах</title>
</head>
<body>
    <div align="center" style="font-size: 24px; margin-bottom: 20px">Информация о лекарственных препаратах</div>
    <table align="center" border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 80%;">
        <thead>
            <tr>
                <th style="background-color: #f2f2f2;">Название лекарства</th>
                <th style="background-color: #f2f2f2;">Дозировка</th>
                <th style="background-color: #f2f2f2;">Количество</th>
                <th style="background-color: #f2f2f2;">Производитель</th>
                <th style="background-color: #f2f2f2;">Условие отпуска</th>
                <th style="background-color: #f2f2f2;">Категория</th>
                <th style="background-color: #f2f2f2;">Цена</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in var_med %}
                <tr>
                    <td align="center">{{ medicine.name }}</td>
                    <td align="center">{{ medicine.dosage }}</td>
                    <td align="center">{{ medicine.quantity }}</td>
                    <td align="center">{{ medicine.manufacturer }}</td>
                    <td align="center">{{ medicine.prescription_required }}</td>
                    <td align="center">{{ medicine.category }}</td>
                    <td align="center">{{ medicine.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
