<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список аптек</title>
</head>
<body>
    <div style="font-size: 20px; margin: 20px 5px">Информация об аптеках</div>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid grey; padding: 15px 15px">Аптека</th>
                <th style="border: 1px solid grey; padding: 15px 15px">Адрес</th>
                <th style="border: 1px solid grey; padding: 15px 15px">Ближайшее метро</th>
            </tr>
        </thead>
        <tbody>
            {% for pharmacy in var_ph %}
                <tr>
                    <td style="border: 1px solid grey; padding: 15px 15px">{{ pharmacy.address }}</td>
                    <td style="border: 1px solid grey; padding: 15px 15px">{{ pharmacy.number }}</td>
                    <td style="border: 1px solid grey; padding: 15px 15px">{{ pharmacy.metro_station }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
