<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запасы лекарств</title>
</head>
<body>
    <div align="center" style="font-size: 24px; margin: 20px">Информация о запасах лекарств</div>
    <table align="center" border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 80%; margin-bottom: 20px;">
        <thead>
            <tr>
                <th style="background-color: #f2f2f2;">Лекарство</th>
                <th style="background-color: #f2f2f2;">Аптека</th>
                <th style="background-color: #f2f2f2;">Количество</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in var_stock %}
                <tr>
                    <td>{{ stock.medicine }}</td>
                    <td>{{ stock.pharmacy }}</td>
                    <td align="center">{{ stock.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>